*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{

}
.section-1{
    margin: 0;
}
.hi{
    display: flex;
}
.hello{
    height: 500px;
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    text-align: right
    padding-bottom: 20%;
    background-size:cover;
    margin-bottom: 50px;
    
    
}
 h1{
    font-size: 80px;
    font-family: sans-serif;
    font-weight: 700
    
}
.pra{
    color: black;
    font-size: small;
    font-weight: 400;
}
 .btnn{
    background-color: orangered;
    color: white;
    border-radius: 9px;
    padding: 10px;
 }
.sections-2{
    background-color: #fff8f3;
    background-position: top bottom left;
    display: flex;
    margin: 0 auto;
}
.banner{
    display:flex;
    padding: 8px;
    align-items: center;
    margin: 0;
    
    
}
.banner-title{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: black;

}

.btn{
    background-color: rgb(240, 86, 31);
    border: 1;
}
.sub-title{
    font-weight: 100;
    font-size: 15px;
    color: black;
}
/* main section*/
main{
    max-width:1140px;
    margin: 0;
    padding: 0;
}
.section-1{
    
}
.My-plans{
  margin-top: 130px;
  padding: 8px;
  text-align: center;
  
  
}
.section-title{
  color: black;
  padding-bottom: 76px;
  font-size: 30px;
  text-align: center;
  

}
.plan-info{
    color: black;

}
.plan-info-container{
   display: flex;
   justify-content: space-around;
   font-size: 18px;
   
}

.gradient{
    margin-top: 130px;

    border-radius: 10px;
    padding: 130px 130px;
    text-align: left bottom ;
}
.gradient-container{
    background-image: url("images/watch.png");
    background-blend-mode:color-burn;
    width: 1140px;
    height: 300px;
    left: 130px;
    right: 130px;
    top: 226px;
    

}

.text{
    color: white;
    font-size: 50px;
    font-style: normal;


}
.btn2{
    background-color: white;
    color: orangered;
    font-size: 20px;
    border-radius: 8px;
}
.footer{
    background-color: black;
    margin-top: 100px;
    border-radius: 7px;
    padding: 130px 130px;
    text-align: center;
}
.footer-sub{
    display: flex;
    align-items: center;


}
.future-info{
    display: flex;
    justify-content: stretch;
    align-items:center;
    
    
}

h3{
    color: white;
    margin: 5px;
}
p{
    color: white;
    margin: 8px;

}
.btn-1{
    background-color: black;
    color: white;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    margin: 6px;

}
.btn-2{
    background-color: white;
    color: orangered;
    padding: 8px;
    border-radius: 5px;
    margin: 3px;

}